# Gradle
.gradle/
**/build/

# Local configuration
local.properties

# Android Studio
*.iml
.idea/caches/
.idea/libraries/
.idea/modules.xml
.idea/workspace.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml

# Kotlin/IDE temporary files
*.salive

# macOS
.DS_Store

# Android
/captures/
.externalNativeBuild/
.cxx/